<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <div class=" bg-zinc-300 h-screen w-full flex justify-center items-center px-5">
          <div class="w-[25rem] min-h-[20.5rem] rounded-md bg-white px-8 py-4">
            <h1 class="text-center text-2xl font-semibold opacity-80">Create New User</h1>
            <form action="/create" method="post" class="mt-8">
                <input type="text" name="name" class="block w-full py-3 mt-4 px-2 text-sm  rounded-md outline-none font-semibold border-2 border-slate-500" placeholder="Enter your  Name">
                <input type="email" name="email" class="block w-full py-3 mt-4 px-2 text-sm rounded-md outline-none  font-semibold border-2 border-slate-500" placeholder="Enter your Email">
                <input type="text"name="image" class="block w-full py-3 mt-4 px-2 text-sm  rounded-md outline-none  font-semibold border-2 border-slate-500" placeholder="Upload Image">
                
                <button class="block w-full mt-10 bg-red-600 py-3 rounded-xl text-md text-white font-semibold">Create</button>
            </form>
             
          </div>

    </div>
</body>
</html>