<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="bg-zinc-900 text-white max-w-[80%] mx-auto">
    <div class="px-10 mt-4">
        <a href="/" class="text-sm opacity-60">Back to Home</a>
    </div>
    <h1 class="px-10 pt-4 text-2xl text-white/70 font-semibold">Create User</h1>
    <div class="p-10 flex flex-wrap gap-5">
        <%if(user.length>0) %>
    </div>
</body>
</html>
